<title>
    <%= data[0].title %>
</title>
<link rel="icon" href="https://png.icons8.com/color/1600/cute-hamster.png">
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

<div class="container">
    <div class="border rounded shadow-sm" style="padding: 20px">
        <h2 class="mt-0 mb-1 text-success">
            <%= data[0].title %>
        </h2>
        <br>
        <p>Tác giả:
            <span class="badge badge-secondary">
                <%= data[0].author %>
            </span>
        </p>
        <p>Thể loại:
            <span class="badge badge-secondary">
                <%= data[0].name %>
            </span>
        </p>
        <br>
        <h6>
            <%= data[0].short_desc %>
        </h6>
        <br>
        <center>
            <img class="img-fluid" alt="Responsive image" src="http://localhost:3000/<%= data[0].image %>" width="1010px" height="500px" style="padding: 10px" />
        </center>
        <br>
        <p>
            <%= data[0].content %>
        </p>

    </div>
</div>