<!DOCTYPE html>
<html lang="en">

<head>
    <title> EDIT Post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" href="https://png.icons8.com/color/1600/cute-hamster.png">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/css/util.css">

    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <!--===============================================================================================-->
</head>

<body>


    <div class="container-contact100" style="background-image: url('http://localhost:3000/images/bg-01.jpg');">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" action="/editpost/<%= data[0].id %>" method='post' enctype="multipart/form-data">
                <span class="contact100-form-title">
                    EDIT POST
                </span>
                <!--=========================================Title======================================================-->
                <div class="wrap-input100 validate-input" data-validate="Title is empty!">
                    <span class="label-input100">Title *</span>
                    <input class="input100" type="text" name="title" placeholder="Enter Title" value="<%= data[0].title%>">
                </div>
                <!--===========================================Category====================================================-->
                <div class=" wrap-input100 validate-input">
                    <span class="label-input100">Category *</span>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category" style="margin-top: 20px; font-size: 18px">
                        <option selected value="<%= data[0].category%>">
                            <%= data[0].name%>
                        </option>
                        <% categoryDATA.forEach((item) => { %>
                            <% if (item.name != data[0].name) {%>
                                <option name="<%= item.id%>" value="<%= item.id%>">
                                    <%= item.name%>
                                </option>
                                <% }})%>
                    </select>
                </div>
                <!--========================================Upload Image=======================================================-->
                <div class="wrap-input100 validate-input" data-validate="Image is empty!">
                    <span class="label-input100">Upload Image *</span>
                    <input type="file" class="form-control-file" name="image" style="padding: 0;padding-top: 15px;font-size: 18px">
                    <input class="form-control" type="text" name="image" value="<%= data[0].image%>" />
                </div>
                <!--==========================================Short Desc=====================================================-->
                <div class="wrap-input100 validate-input" data-validate="Short Desc is empty!">
                    <span class="label-input100">Short Desc *</span>
                    <textarea class="input100" name="short_desc" placeholder="Short Desc here..."><%= data[0].short_desc%></textarea>
                </div>
                <!--=============================================Content==================================================-->
                <div class="wrap-input100 validate-input" data-validate="Content is empty!">
                    <span class="label-input100">Content *</span>
                    <textarea class="input100" name="content" placeholder="Content here..."><%= data[0].content%></textarea>
                </div>
                <!--==========================================Author=====================================================-->
                <div class="wrap-input100 validate-input" data-validate="Author is empty!">
                    <span class="label-input100">Author *</span>
                    <input class="input100" type="text" name="author" placeholder="Author here..." value="<%= data[0].author%>">
                </div>
                <!--===============================================================================================-->
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn" type="submit" value='Upload!'>
                            POST
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <span class="contact100-more">
            <p class="m-0 text-center text-white">Copyright &copy; Trần Văn Hữu 2018</p>
        </span>
    </div>
    <!--===============================================================================================-->
    <script src="http://localhost:3000/stylesheets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="http://localhost:3000/stylesheets/vendor/bootstrap/js/popper.js"></script>
    <script src="http://localhost:3000/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="http://localhost:3000/stylesheets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="http://localhost:3000/stylesheets/js/main.js"></script>
</body>

</html>