#divNews {
    background-color: black;
}
.divNews{
    background-color: black
}
.child {
    border: 1px solid #f9f9f9;
     margin-left: 252px;
      padding: 16px;
       box-shadow: 0 0 80px rgba(193,193,193,0.55);
        border-radius: 10px;
         background-color: #fff
}